h1, h2, h3 {
    font-family: 'Montserrat';
    text-align: center;
}

a {
    color: blueviolet;
    text-decoration: none;
}

a:hover {
    color: darkmagenta;
}



// For pages
.p1 {
    background: url('../images/unsplash-covid19.jpg');  // https://unsplash.com/photos/EAgGqOiDDMg
    background-size: cover;

    // h1 {
    //     position: absolute;
    //     top: 20%;
    //     left: 40%;
    //     color: whitesmoke;
    //     font-size: 4rem;
    //     text-align: right;
    //     margin-right: 1em;
    // }

    h1, h3 {
        color: whitesmoke;
        text-align: right;
        margin-right: 5%;
    }

    h1 {
        font-size: 3rem;
        margin-bottom: 0;
    }
}

.p2 {
    background-color: rgb(221, 221, 221);
}







span {  // For the navigation points on the right
    background: black;  //!important otherwise covered
}

.fp-slidesNav.fp-bottom {
    margin-left: 1em !important;
}




// For testing pages used

.s1 {
    background: url('../images/mkm1.jpg');
    background-size: cover;
}

.s2 {
    background: url('../images/mkm2.jpg');
    background-size: cover;

    h1 {
        text-align: left;
        margin-left: 2em;
        font-size: 4rem;
    }
}

.s3 {
    background: url('../images/mkm3.jpg');
    background-size: cover;

    h1 {
        text-align: right;
        margin-right: 2em;
        font-size: 4em;
    }
}
