h1, h2, h3, p {
    font-family: 'Montserrat';
    text-align: center;
}

a {
    color: blueviolet;
    text-decoration: none;
}

a:hover {
    color: darkmagenta;
}

g text {
    font-family: 'Montserrat';
}

label, select, option {
    font-family: 'Montserrat';
}

.content {
    text-align: left;
    padding-left: 6%;
    padding-right: 6%;
    font-weight: 400;
    display: block;
    box-sizing: border-box;
    position: relative;
}

.column {
    box-sizing: border-box;
    float: left;
}

div.column {
    width: 30%;
    padding-top: 2%;
    padding-left: 1%;
    padding-right: 2%;
}

.g-switch-btn {
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #000000;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#000000;
    text-align:center;
    transition: all 0.2s;
}

.g-switch-btn:hover {
    background-color:#FFFFFF;
}



// For Tableau Embedding
#tableauDashboard-container {
    height: 80%;

    min-width: 66%;
    max-width: 70%;
    margin-right: 0;
    box-sizing: border-box;
    float: left;
    margin-left: 2%;
    margin-right: 2%;
}

// For US Map Vis
#mapVis {
    max-width: 70%;
}

#map-vis-section {
    div.column {
        position: relative;
    }
    #cases-map-legend {
        position: absolute;
        bottom: 4%;
    }
}

// For Econ Charts
#econIndicts, #vacState {
    margin-left: 8%;
    width: 56%;
    h3 {
        text-align: left;
        padding-left: 8%;
    }
}

#btn-group {
    padding-left: 8%;
}


// For mobility
#covid_mobility {
    width: 60%;
}

// For Vaccination
#vacState {
    width: 60%;
}



// For specific pages
.p1 {
    background: url('../images/unsplash-covid19.jpg');  // https://unsplash.com/photos/EAgGqOiDDMg
    background-size: cover;

    // h1 {
    //     position: absolute;
    //     top: 20%;
    //     left: 40%;
    //     color: whitesmoke;
    //     font-size: 4rem;
    //     text-align: right;
    //     margin-right: 1em;
    // }

    h1, h3 {
        color: whitesmoke;
        text-align: right;
        margin-right: 5%;
    }

    h1 {
        font-size: 3rem;
        margin-bottom: 0;
    }
}

.p2 {
    div {
        margin-bottom: 60px;
    }
}

.p3 {
    p {
        display: block;
        text-align: left;
        // text-indent: 2em;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-size: 120%;
    }

    h1 {
        text-align: left;
    }
}

.p4 {
    h1, h2, p {
        text-align: left;
    }

    h1 {
        margin-left: 6%;
    }
}

.p6, .p7, .p10 {
    h2, h3, p{
        text-align: left;
    }
    h1 {
        padding: 2px 6px;
    }
    div.column {
        padding-right: 6%;
    }
}

.p11, .p12 {
    .content {
        position: absolute;
        top: 4%;
        left: 6%;
    }
    
    h1, h2, p {
        text-align: left;
    }
}


span {  // For the navigation points on the right
    background: black;  //!important otherwise covered
}

.fp-slidesNav.fp-bottom {
    margin-left: 1em !important;
}

.fp-tooltip {
    color: black !important;
}
